.navbar-menu{
    margin-top: 30px;
    text-align:;
}
.navbar-menu a{
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar-menu a:hover{
    color: #9CC25D;
}
.logo{
    text-align: center;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
.title-color{
    color:#9CC25D !important;
}
