.footer{
    padding: 30px 0;
    background-color: #F4F4F4;
}
.subscribe{
    color:#000;
    font-size: 35px;
}
.newsletter{
    color: #9CC25D;
}
.sub-btn{
    background-color: #000 !important;
    color: #ffffff;
    font-size: 16px;
    transition: .4s;
    border:none !important;
}
.sub-btn:hover{
    background-color: #9CC25D !important;
}